<?php if (!defined('APPLICATION')) exit();

// This template is no longer used. It was applied in roles/web/tasks/vanilla.yml:49 but has since been deprecated.
// {{ ansible_managed }}

// Database
$Configuration['Database']['Name'] = '{{ db_name }}';
$Configuration['Database']['Host'] = '{{ db_host }}';
$Configuration['Database']['User'] = '{{ db_user }}';
$Configuration['Database']['Password'] = '{{ db_password }}';
