<?php if (!defined('APPLICATION')) exit();

// {{ ansible_managed }}

// Database
$Configuration['Database']['Name'] = '{{ db_name }}';
$Configuration['Database']['Host'] = '{{ db_host }}';
$Configuration['Database']['User'] = '{{ project_user }}';
$Configuration['Database']['Password'] = '{{ db_password }}';
